@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

@import url("components/container.css");
@import url("components/card.css");
@import url("components/banner.css");


body {
  font-family: 'Goldman', cursive;
  font-size: 18px;
  margin: 0px;
}

h1, h2, h3, p {
	font-family: 'Goldman', cursive;
	text-align: center;
}

a {
	text-decoration: none;
}

